body {
    background-color: black;
}
  
h1 {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

h1, p {
    color: white;
    background-color: black;
    text-align: center;
}

img {
    border: 5px solid white;
    width: 100%;
}

#main-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
}